<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="WPFChatEndpoint"
                address="net.p2p://WPFChatMesh/rolandrodriguez.net/wpfchat"
                binding="netPeerTcpBinding"
                bindingConfiguration="WPFChatBinding"
                contract="WPFChatViaP2P.IChat">
      </endpoint>
    </client>
    <bindings>
      <netPeerTcpBinding>
        <binding name="WPFChatBinding" port="0">
          <resolver mode="Auto"/>
          <security mode="None"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>